# Ignore JSON output file 
*.json

# Ignore bin folder 
bin/

# Ignore lib folder
lib/

# Some needs to be ignored
*.swp
*.vscode
*.swn
*.swo
*.pyc

# Ignore caches
__pycache__/
.pytest_cache/
v/cache/
venv/

# Ignore err dir
err/ 

# Ignore venv folder 
../myenv/
