# Ignore JSON output file 
*.json

# Some needs to be ignored
*.swp
*.vscode
*.swn
*.swo
*.pyc

# Ignore caches
__pycache__/
.pytest_cache/
v/cache/

# Ignore lib packages
lib/

# Ignore err dir
err/ 

# Ignore venv folder 
../myenv/
